.controlBox {
    width: 1500px;
    height: 100%;
}

.monitoringBox{
    width: 700px;
    height: 250px;
    overflow: auto;
    background-color: #5A5654;
    padding: 10px;
}

.monitoringInfo{
    word-break: break-word;
    color: white;
}

.monitoringError{
    word-break: break-word;
    color: red;
}

.runnerControlPanel{
    width : 100%;
}
.controllerBtn {
    width: 100px;
    background-color: #428BCA;
    margin-left: 50px;
    border-color: black;
}

.lineChart {
    width: 600px;
    height: 300px
}

.statusText{
    margin-top: 20px;
    font-size: 15px;
}

.timeText{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 15px;
}

.progressBox{
    margin-top: 25px;
}

.currentValue{
    font-size: 20px;
    margin-bottom: 20px;
}

.statisticBox{
    width: 1500px;
}

.leftGraph{
    display: inline-block;
    float: left;
    width: 700px;
}

.rightGraph{
    display: inline-block;
    margin-left: 100px;
}

.progress {
    background-color: #5A5654;
}

.generatorController{
    display: inline-block;
    float: left;
    width: 700px;
}

.buttonBox {
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 15px
}

.leftStatusTextBox {
    display: inline-block;
    float: left;
    width: 350px
}

.rightStatusTextBox {
    display: inline-block;
}
