<div>
    <label>Help</label>
    <div>
        <span ng-repeat="line in (form.helpContent | newlines) track by $index">
            <div style="word-break: break-word;">{{line}}</div>
        </span>
    </div>
</div>