.addPropertyBtn {
    border: none;
    background-color: #3D3C3B;
    font-size: 31px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
}

.propertyBox .addButton {
    border: none;
    background-color: #5A5654;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border-radius: 4px;
}

.propertyBox .addButtonInner {
    border: none;
    background-color: #6D6D6D;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
    border-radius: 4px;
}

.help-block{
    color: #FFFFFF;
}

.propertyBox .popover {
    box-shadow: 0px 1px 15px 4px #77CBF1;
    background-color: #5A5654;
}

.propertyBox .domainAddBtn {
    padding: 0;
    width: 225px;
    display: inline-block;
    margin-bottom: 10px;
}

.propertyBox .domainField {
    margin-top: 0;
    padding: 0 6px;
    border: 0;
    background-color: #6D6D6D;
}

.propertyBox .form-group {
    margin-top: 0;
}
.propertyBox .domainAddBtnInner {
    padding: 0;
    width: 180px;
    display: inline-block;
    margin-bottom: 10px;
}

.propertyBox .domainFieldInner{
    padding: 0 6px;
    border: 0;
    background-color: #6D6D6D;
    margin-top: 0;
}

.propertyBox .clearfix{
    padding: 0 !important;
}

.propertyBox .list-group {
    margin-bottom: -5px;
}

.propertyBox button.close {
    color:  #FFFFFF;
    width: 22px;
    height: 22px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    margin-top: 5px;
}

.propertyBox button.close:hover {
    background-color: #AA1A1A;
}

.propertyBox .btn-success {
    background-color: #428BCA;
    border-color: black;
}

.propertyBox .btn-success:hover {
    color: black;
}

.propertyBox .popover .arrow:after {
    border-right-color: #575757;
}

.propertyInput {
    display: inline-block;
    width: 225px;
    background-color: #5A5654;
    border-radius: 4px;
    padding: 5px;
    word-break: break-word;
    margin-bottom: 10px;
}

.propertyInputInner {
    display: inline-block;
    width: 180px;
    margin-bottom: 0;
}

.propertyInputGroupInner {
    display: inline-block;
    width: 140px;
    margin-bottom: 0;
}

.helpButton {
    margin-left: 10px;
    position: absolute;
}

.helpButtonInner {
    margin-left: 10px;
    position: absolute;
    background-color: #6D6D6D !important;
}
.propertyArray {
    background-color: #6D6D6D !important;
    border: 0;
}

.propertyBoxSection{
    position: relative;
}

.propertyBox fieldset{
    background-color: #5A5654;
    border-radius: 4px;
    padding: 5px !important;
}

.propertyBox .array{
    background-color: #5A5654;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

.propertyBox legend{
    border-bottom: 0;
    margin-bottom: 0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
}

.propertyBox .checkbox{
    margin-top: 0;
}

.propertyBox .schema-form-section{
    margin-bottom: 10px;
}

.propertyBox .help-block{
    word-break: break-word;
}

.propertyBox .close {
    opacity: 1;
}