<div class="propertyBox">
    <div ng-show="showProperties">
        <h2>Properties</h2>
        <form sf-schema="schema" sf-form="form" sf-model="settings"></form>
        <div ng-if="showRanksNumber">
            <form sf-schema="ranksNumberSchema" sf-form="ranksNumberForm" sf-model="settings"></form>
        </div>
        <div ng-if="showEditorSchema">
            <label>Schema</label>
            <div style="height: 500px"
                 ui-ace="{
                showGutter: true,
                theme:'twilight',
                mode: 'json',
                firstLineNumber: 1,
                onLoad: aceLoaded,
                onChange: aceChanged
                }"
                 ng-model="aceContent"></div>
        </div>
    </div>
</div>