<div class="grammarAlternationType" id="{{input.id}}">
    <div ng-repeat="element in input.children">
        <!-- Directive for rendering concrete alternative type -->
        <grammar-common-type
                input="element"
                get-size="components[$index].getSize(size)"
                active-obj="activeObj"
                ng-style="{'position': 'absolute', 'top': getTopPosition($index), 'left': getLeftPosition($index) }">
        </grammar-common-type>

        <!-- Line to alternative -->
        <grammar-line
                ng-if="$index === 0"
                type="leftRight"
                line-width="getLineWidth($index)">
        </grammar-line>
        <grammar-line
                ng-if="$index > 0"
                type="leftDownRight"
                line-width="getLineWidth($index)"
                line-height="getLineTopPosition($index)">
        </grammar-line>
        <span class="probability"
              ng-style="{position: 'absolute', left: EditorConstants.TransparentLineSize + 'px', top: getLineTopPosition($index) - (EditorConstants.TransparentLineSize / 2) + 'px'}"
              ng-class="{editMode: activeObj.activeScope === this.$parent}">
                {{element.probability}}%
        </span>

        <!-- Line from alternative -->
        <grammar-line
                ng-if="$index === 0"
                type="leftRight"
                line-width="getLineWidth($index)"
                ng-style="{'position': 'absolute', 'top': '0px', 'left': getRightLineLeftPosition($index) }">
        </grammar-line>
        <grammar-line
                ng-if="$index > 0"
                type="leftTopRight"
                line-width="getLineWidth($index)"
                line-height="getLineTopPosition($index)"
                ng-style="{'position': 'absolute', 'top': '0px', 'left': getRightLineLeftPosition($index) }">
        </grammar-line>
    </div>

    <div ng-if="activeObj.activeScope === this" class="grammarActiveRect" ng-style="activeStyle"></div>
</div>