<div>
    <div><h4>Help</h4></div>
    <div style="width: 300px">
        <form sf-schema="helpSchema" sf-form="helpForm" sf-model="helpModel"></form>
    </div>
    <div ng-bind-html="helpText"></div>
</div>