.noTitleLabel{
    height: 14px;
}

.settingInput{
    width: 200px;
}

.addLine {
    margin-bottom: 25px;
}

.speedLimiter {
    margin-left: 15px;
}

.showAdvanced {
    margin-left: 15px;
    margin-top: 20px;
}

.help {
    position: absolute;
    border: none;
    background-color: #3D3C3B;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
}

.settings .popover{
    max-width: 350px;
    width: 350px;
    min-height: 350px;
}

.settings ul{
    list-style: disc;
}

.settings .popover.right>.arrow:after {
    border-right-color: #575757;
}

.leftLimiter {
    width: 275px;
    display: inline-block;
    float: left;
}

.rightLimiter {
    width: 263px;
    display: inline-block;
}
.limiterItem {
    width: 90px;
}
.settings .form-control{
    padding: 6px;
}