<div class="settings">
    <div class="center-block" style="width: 550px">
        <h2 class="text-center">Setup for generation job</h2>
        <div style="float: right; margin-right: 40px;" class="row">
            <button class="help" uib-popover-template="helpPopover.templateUrl" popover-is-open="helpPopover.isOpen" popover-placement="right-top" popover-trigger="outsideClick">?</button>
        </div>
        <div style="margin-top: 35px;" class="row">
            <form sf-schema="schema" sf-form="form" sf-model="model"></form>
        </div>

    </div>
</div>