.jsonEditor h2 {
    margin: 10px;
}

.jsonEditor {
    height: 100%;
}

.dateTimeField {
    background-color: #5A5654;
    width: 90%;
}

.editor .domainField {
    padding: 0 0;
    border: 0;
    display: inline;
}

.editor .domainField button.close {
    top: 7px;
    right: -6px;
    opacity: 1;
}

.editor .domainField .form-group {
    height: 25px;
}

.domainAddBtn {
    padding: 0;
}

.list-group-item {
    margin-top: 16px;
}
.activePlugin {
    color: lightgray;
}

.download, .upload {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: inline-block;
}

.uploadInput {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
