.typeButton {
    width: 200px;
    height: 200px;
    padding-top: 80px;
    font-size: 30px;
    display: inline-block;
}

.methodButton {
    width: 200px;
    height: 200px;
    padding-top: 50px;
    font-size: 30px;
}

.infererField {
    width: 200px
}

.infererUploadBox {
    width: 500px
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.btn-primary {
    color: #fff;
    background-color: #428BCA;
    border-color: #357ebd;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #77CBF1;
    border-color: #285e8e;
}

.infererUploadBox button.uploadBtn {
    background-color: #428BCA;
    border-color: black;
}

.infererUploadBox button.uploadBtn:hover {
    color: black;
}

.infererUploadBox button.resetBtn {
    background-color: #5A5654;
    border-color: white;
}

.infererUploadBox button.resetBtn:hover {
    border-color: #77CBF1;
    color: #77CBF1;
}

.dropzone {
    margin-bottom: 10px;
}

.parameterType{
    display: inline-block;
    float: left;
    width: 200px;
    margin-right: 25px;
}

.parameter {
    display: table;
    width: 200px
}