<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <h3 class="text-center"> Choose files type</h3>
    </div>
</div>
<div class="row">
    <!-- TODO set width according to number of items -->
    <div class="center-block" style="width: 800px" ng-class="">
        <div ng-repeat="item in types" class="col-md-4">
            <label class="btn btn-primary typeButton" ng-model="radioType.value"
                   uib-btn-radio="'{{$index}}'">{{item.name}}</label>
        </div>
    </div>
</div>
<div ng-hide="radioType.value === undefined">
    <div class="row">
        <h3 class="text-center">Choose method</h3>
    </div>
    <div class="row">
        <div class="center-block" style="width: 800px">
            <div class="col-md-4">
                <label class="btn btn-primary typeButton"
                       ng-click="fromScratch()"
                       ng-model="radioMethod.value"
                       uib-btn-radio="'{{methods[0]}}'" >{{methods[0]}}</label>
            </div>
            <div class="col-md-4">
                <input type="file" class="uploadInput" id="uploadInput" file-reader="data.uploadFile">
                <label for="uploadInput"
                       class="btn btn-primary typeButton"
                       ng-model="radioMethod.value"
                       uib-btn-radio="'{{methods[1]}}'"
                        ng-click="useTemplate()">{{methods[1]}}
                </label>
            </div>
            <div class="col-md-4">
                <label ng-hide="noInferer" class="btn btn-primary typeButton" ng-click="useInferer()"
                       ng-model="radioMethod.value"
                       uib-btn-radio="'{{methods[2]}}'" >{{methods[2]}}</label>
            </div>
        </div>
    </div>
</div>
<div class="infererUploadBox center-block" ng-show="infererSelected">
    <h3>{{infererDescription}}</h3>
    <h5 class="text-center">Upload example data</h5>
    <form action="" class="dropzone" dropzone="" id="dropzone"></form>
    <form ng-show="infererHasParameters" class="pull-left" style="width: 500px" sf-schema="infererSchema" sf-form="infererForm" sf-model="infererModel"></form>
    <div style="color: red">{{response}}</div>
    <div class="pull-left">
        <button class="btn btn-success uploadBtn" ng-click="uploadFile()">Upload File</button>
        <button class="btn btn-danger resetBtn" ng-click="reset()">Reset Dropzone</button>
    </div>

</div>


