<div class="pipelineItem selectable"
     ng-class="{selectedPipelineItem: active, itemStorer: isStorer, itemTransformer: isTransformer, hoveredPipelineItem: hovered}"
     ng-click="makeActive(); $event.stopPropagation();">
    <span>{{input.formSettings.name}}</span>
    <div style="float: right; margin-right: 5px;">
        <div class="deleteIconPipelineItem" ng-if="!isGenerator" ng-click="delete()"></div>
    </div>
</div>