.pipelineItem {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin-top: 15px;
    width: 150px;
    border: 2px solid darkgrey;
    text-align: center;
    position: relative;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
}

.deleteIconPipelineItem {
    width: 18px;
    height: 18px;
    top: -10px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    position: absolute;
    background-color: #5A5654;
    cursor: pointer;
}

.deleteIconPipelineItem:hover{
    background-color: #AA1A1A;
}

.deleteIconPipelineItem:before {
    content: "\002716";
    position: absolute;
    left: 2px;
    top: -2px;
}

.hoveredPipelineItem {
    border: 2px solid #77CBF1;
}

.selectedPipelineItem {
    background-color: #5A5654;
    border-color: #77CBF1;
}