<div style="height: 100%">
    <div style="width: calc(100% - 300px); float: left; padding: 60px; padding-bottom: 0; overflow: auto; height: 100%;" ng-click="deactivate()">
        <json-editor-type-wrapper ng-if="activeType" active-property="data.activeProperty" input="activeType"></json-editor-type-wrapper>
        <div style="height: 60px;"></div>
    </div>
    <div style="width: 300px; overflow: auto; word-break: break-all; float: left; border-left: 1px solid #5A5654;; padding: 10px; height: 100%; box-sizing: border-box">
        <property-editor ng-show="activeSchema" model="data.activeProperty.property" schema="activeSchema" form="activeForm"></property-editor>
    </div>
</div>