.deleteIcon {
    width: 18px;
    height: 18px;
    border: 1px solid darkgrey;
    border-radius: 4px;
    position: absolute;
    top: -9px;
    right: -9px;
    background-color: #5A5654;
    cursor: pointer;
}

.deleteIcon:hover {
    background-color: #AA1A1A;
}

.deleteIcon:before {
    content: "\002716";
    position: absolute;
    left: 3px;
    top: -1px;
}