<div class="header">
    <div class="center-block" style="width: 400px; height: 80px; padding-top: 10px;" ng-controller="HomeCtrl">
        <div class="workflowWrapper">
            <div class="workflowCircle">
                1
                <button ng-click="clickWorkflow(0); $event.stopPropagation();"
                        ng-class="{workflowButtonActive: 0 === currentStep}"
                        ng-if="workflowSteps[0].enabled"
                        class="workflowButton"
                        uib-popover-template="warningPopover.templateUrl"
                        popover-enable="warningPopover.isEnabled"
                        popover-is-open="warningPopover.isOpen"
                        popover-placement="bottom"
                        popover-trigger="outsideClick">1</button>
            </div>
            <div class="workflowText" ng-class="{workflowTextEnabled: workflowSteps[0].enabled, workflowTextSelected: 0 === currentStep}">{{workflowSteps[0].name}}</div>
        </div>
        <div class="workflowWrapper" ng-repeat="item in workflowSteps" ng-if="$index > 0">
            <div class="workflowCircle">
                {{$index + 1}}
                <button ng-click="clickWorkflow($index)"
                        ng-class="{workflowButtonActive: $index === currentStep}"
                        ng-if="item.enabled"
                        class="workflowButton">{{$index + 1}}</button>
            </div>
            <div class="workflowText" ng-class="{workflowTextEnabled: item.enabled, workflowTextSelected: $index === currentStep}">{{item.name}}</div>
        </div>
    </div>
    <button ng-show="requiredLogin" class="btn cancel btnLogout" ng-click="logout()">Logout</button>
</div>
<div class="mainBlock" ui-view></div>