.workflowPart{
    font-size: medium;
    margin-right: 20px;
}

.workflowOn{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.workflowOff{
    color: gray;
}

.workflowSelected{
    background: #428bca;
}

.mainBlock {
    position: relative;
    height: calc(100% - 80px);
    border-top: 1px solid #5A5654;
}

.header {
    background-color: #5A5654;
}

.workflowWrapper {
    float: left;
    width: 80px;
    text-align: center;
}

.workflowCircle {
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #DFDBD7;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: #ADA499;
    padding-top: 13px;
    display: inline-block;
    position: relative;
}

.workflowButton {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #428BCA;
    color: white;
    outline: none;
    border: none;
}

.workflowButton:hover, .workflowButton.workflowButtonActive {
    background-color: #77CBF1;
}

.workflowText {
    font-weight: bold;
    color: #3D3C3B;
}

.workflowText.workflowTextEnabled {
    color: white;
}

.workflowText.workflowTextEnabled.workflowTextSelected {
    color: #77CBF1;
}

.btnLogout {
    background-color: #5A5654;
    border-color: white;
    position: absolute;
    top: 20px;
    right: 60px;
}

.btnLogout:hover {
    border-color: #77CBF1;
    color: #77CBF1;
}

.header .popover{
    box-shadow: 0px 1px 15px 4px #77CBF1;
    background-color: #5A5654;
    color: white;
}


.header .popover button.add {
    background-color: #428BCA;
    border-color: black;
}

.header .popover button.add:hover {
    color: black;
}

.header .popover button.cancel {
    background-color: #5A5654;
    border-color: white;
}

.header .popover button.cancel:hover {
    border-color: #77CBF1;
    color: #77CBF1;
}

.header .popover .arrow:after {
    border-bottom-color: #575757;
    border-right-color: transparent;
    border-left-color: transparent;
}