<div style="width: 250px">
    <div>Warning</div>
    <div>If you click Continue all data will be lost!</div>
    <div>Do you wish to continue?</div>
    <div style="margin-top: 10px;">
        <button style="width: 90px; margin-left: 20px" class="btn add" ng-click="continueMain()">Continue</button>
        <button style="width: 90px; margin-left: 30px" class="btn cancel" ng-click="cancelMain()">Cancel</button>
    </div>
</div>