.grammarScopeSelector {
    height: 100%;
}

.grammarScopeSelector ul {
    display: inline-table;
    padding: 10px;
}

.grammarScopeSelector .activeScope {
    background-color: #428BCA;
}

.grammarScopeSelector .scope {
    text-align: center;
    padding: 1px 10px 1px 10px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 4px;
}

.grammarScopeSelector .scope:not(.activeScope):hover {
    background-color: #77CBF1;
}

.grammarScopeSelector .scopeSelector {
    float: left;
    border-right: 1px solid #5A5654;
    font-weight: bold;
    padding-left: 10px;
    width: 30%;
    height:100%;
    overflow: auto;
}

.grammarScopeSelector .scopeControl {
    float: left;
    width: 65%;
    height:100%;
    padding: 10px;
}

.grammarScopeSelector .scopeControl button {
    background-color: #428BCA;
    border-color: black;
}

.grammarScopeSelector .scopeControl button:hover {
    color: black;
}

.grammarScopeSelector .buttonControl {
    margin-bottom: 15px;
}

.grammarScopeSelector .slider {
    background-color: darkgray;
}

.grammarScopeSelector .at-multirange-slider {
    padding: 10px;
    float: left;
    width: calc(100% - 30px);
}

.grammarScopeSelector .slider-handle {
    width: 15px;
}