<div class="grammarScopeSelector">
    <div class="scopeSelector">
        Scopes
        <ul>
            <li class="scope" ng-repeat="scope in scopes" ng-class="{'activeScope': scope === activeObj.activeScope}" ng-click="activateScope(scope)">
                {{scope.input.type}}
            </li>
        </ul>
    </div>

    <div class="scopeControl">

        <!-- Control buttons -->
        <div class="buttonControl" ng-if="activeObj.activeScope.input.type === EditorTypes.EmptyType">
            <button class="btn" ng-click="addSibling(true)">Add left sibling</button>
            <button class="btn" ng-click="addSibling()">Add right sibling</button>
            <button class="btn" ng-if="!isParentCycle()" ng-click="addToCycle()">Add to cycle</button>
            <button class="btn" ng-if="isParentCycle()" ng-click="removeFromCycle()">Remove from Cycle</button>
            <button class="btn" ng-click="addAlternative()">Add alternative</button>
            <button class="btn" ng-click="delete()">Delete</button>
        </div>

        <div class="buttonControl" ng-if="activeObj.activeScope.input.type === EditorTypes.AlternationType">
            <button class="btn" ng-click="addSibling(true)">Add left sibling</button>
            <button class="btn" ng-click="addSibling()">Add right sibling</button>
            <button class="btn" ng-if="!isParentCycle()" ng-click="addToCycle()">Add to cycle</button>
            <button class="btn" ng-if="isParentCycle()" ng-click="removeFromCycle()">Remove from Cycle</button>
            <button class="btn" ng-click="addChild()">Add alternative</button>
            <button class="btn" ng-click="delete()">Delete</button>
        </div>

        <div class="buttonControl" ng-if="activeObj.activeScope.input.type === EditorTypes.ComplexType">
            <button class="btn" ng-click="addChild(0)">Add left sibling</button>
            <button class="btn" ng-click="addChild()">Add right sibling</button>
            <button class="btn" ng-if="!isParentCycle()" ng-click="addToCycle()">Add to cycle</button>
            <button class="btn" ng-if="isParentCycle()" ng-click="removeFromCycle()">Remove from Cycle</button>
            <button class="btn" ng-click="addAlternative()">Add alternative</button>
            <button class="btn" ng-click="delete()">Delete</button>
        </div>

        <div class="buttonControl" ng-if="grammarEditorTypeSvc.isTerminalType(activeObj.activeScope.input.type) || grammarEditorTypeSvc.isNonterminalType(activeObj.activeScope.input.type)">
            <button class="btn" ng-if="!isParentCycle()" ng-click="addToCycle()">Add to cycle</button>
            <button class="btn" ng-if="isParentCycle()" ng-click="removeFromCycle()">Remove from Cycle</button>
            <button class="btn" ng-click="addSibling(true)">Add left sibling</button>
            <button class="btn" ng-click="addSibling()">Add right sibling</button>
            <button class="btn" ng-click="addAlternative()">Add alternative</button>
            <button class="btn" ng-click="empty()">Empty</button>
            <button class="btn" ng-click="delete()">Delete</button>
        </div>

        <div class="buttonControl" ng-if="activeObj.activeScope.input.type === EditorTypes.CycleType">
            <button class="btn" ng-click="addSibling(true)">Add left sibling</button>
            <button class="btn" ng-click="addSibling()">Add right sibling</button>
            <button class="btn" ng-click="addAlternative()">Add alternative</button>
            <button class="btn" ng-click="delete()">Delete</button>
        </div>

        <!-- Scope specific controls -->
        <div ng-if="activeObj.activeScope.input.type === EditorTypes.AlternationType">
            <label for="alternationSelect"> Probability control: </label><br>
            <slider name="alternationSelect" id="alternationSelect" ng-mousedown="$event.stopPropagation();" step="1" total="100">
                <slider-range model="val.probability" ng-repeat="val in activeObj.activeScope.input.children">
                    <div class="slider-handle"></div>
                </slider-range>
            </slider>
        </div>

        <div ng-if="activeObj.activeScope.input.type === EditorTypes.CycleType">
            <div style="width: 300px;">
                <label for="cycleSelect"> Select rule for cycling: </label><br>
                <select class="form-control" name="cycleSelect" id="cycleSelect" ng-model="activeObj.activeScope.input.cycleType">
                    <option value="probability">Probability</option>
                    <option value="repetitions">Repetitions</option>
                </select>
            </div>

            <div ng-if="activeObj.activeScope.input.cycleType === 'probability'">
                <div style="width: 300px; float: left;" ng-class="{'has-error': activeObj.activeScope.input.cycleProbability === undefined}">
                    <label class="control-label" for="cycleProbability"> Cycle probability: </label>
                    <input class="form-control" type="number" id="cycleProbability" ng-model="activeObj.activeScope.input.cycleProbability"
                           min="0" max="99" required>
                    <div ng-show="activeObj.activeScope.input.cycleProbability === undefined" class="help-block">Value should be between 0 and 99</div>
                </div>
            </div>
            <div ng-if="activeObj.activeScope.input.cycleType === 'repetitions'">
                <div style="width: 300px; float: left;" ng-class="{'has-error': activeObj.activeScope.input.cycleMin === undefined}">
                    <label class="control-label" for="cycleMin"> Minimal repetitions: </label>
                    <input class="form-control" type="number" id="cycleMin" ng-model="activeObj.activeScope.input.cycleMin"
                           min="0" required>
                    <div ng-show="activeObj.activeScope.input.cycleMin === undefined" class="help-block">Value has to be natural number</div>
                </div>
                <div style="width: 300px; float: left; padding-left: 20px;" ng-class="{'has-error': activeObj.activeScope.input.cycleMax === undefined}">
                    <label class="control-label" for="cycleMax"> Maximal repetitions: </label>
                    <input class="form-control" type="number" id="cycleMax" ng-model="activeObj.activeScope.input.cycleMax"
                           min="0" required>
                    <div ng-show="activeObj.activeScope.input.cycleMax === undefined" class="help-block">Value has to be natural number</div>
                </div>
            </div>
        </div>
    </div>
</div>