<div style="height: 100%">
    <div style="height: 100%; width: calc(100% - 300px); float: left; padding: 60px; padding-bottom: 0;" ng-click="deactivate()">
        <csv-root-type ng-if="activeType.typeName === 'ROOT'" active-property="data.activeProperty" input="activeType"></csv-root-type>
        <basic-type ng-if="activeType && activeType.typeName !== 'ROOT'" is-root="isRoot" active-property="data.activeProperty" input="activeType" ></basic-type>
        <div style="height: 60px;"></div>
    </div>
    <div style="width: 300px; overflow: auto; word-break: break-all; float: left; border-left: 1px solid  #5A5654; padding: 10px; height: 100%; box-sizing: border-box">
        <property-editor ng-show="activeSchema" model="data.activeProperty.property" schema="activeSchema" form="activeForm"></property-editor>
    </div>
</div>