.csvEditor .jsonEditorTypeWrapper {
    padding: 15px;
    padding-right: 0px;
    float: left;
}

.csvEditor .jsonEditorTypeWrapper.ui-sortable-helper {
    padding-left: 0;
}

.csvEditor .basicType {
    width: 150px;
    margin-left: calc(50% - 75px);
}

.csvEditor .separator {
    float: left;
    padding: 10px 0px 10px 15px;
    font-size: 25px;
    font-weight: bold;
}

.csvEditor basic-type {
    float: left;
}
