<div>
    <div>{{typeLabel}}</div>
    <div style="min-width: 200px; min-height:62px;" data-drop="true" ng-model='droppedItem'
         jqyoui-droppable="{onOver: 'enter', onOut: 'leave', onDrop: 'drop'}" data-jqyoui-options="{tolerance: 'pointer'}"
         ng-class="{jsonEditorCustomType: !over, jsonEditorCustomTypeOver: over, selectedItem: active, unselectedItem: !active}"
         ng-click="makeActive(); $event.stopPropagation();">

        <div ui-sortable ng-model="input.columns">
            <div ng-repeat="item in input.columns" class="jsonEditorTypeWrapper">
                <basic-type in-array="isArray" active-property="activeProperty" on-delete="deleteChild($index)" input="item"></basic-type>
                <div class="separator" ng-if="!$last">{{input.separator}}</div>
                <div class="separator" ng-if="$last"></div>
            </div>
        </div>
    </div>
</div>