/* app css stylesheet */

html, #main {
    height: 100%;
    margin: 0;
}

body{
    line-height: 1;
    min-height: 100%;
    font:12px/20px Arial;
    background-color: #3D3C3B;
}
nav {
    display: block;
}

ol, ul {
    list-style: none;
}

.container.app-container{
    width:100%;
    max-width:100%;
    position: absolute;
    color: white;
    padding: 0;
    font-family: "Open Sans";
}
.full-height {
    height: 100%;
}
.tab-content {
    height: 100%;
}
.tab-pane {
    height: 100%;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.popover{
    box-shadow: 0px 1px 15px 4px #77CBF1;
    background-color: #5A5654;
    color: white;
}

.popover .arrow:after {
    border-right-color: #575757;
    border-left-color: #575757;
}

.popover.left > .arrow:after{
    border-left-color: #575757;
}

.modal-dialog{
    width: 350px;
    height: 120px;
}

.modal-content {
 background-color: transparent;
}

