.basicType {
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 200px;
    border: 2px solid darkgrey;
    border-radius: 4px;
    text-align: center;
    position: relative;
    cursor: pointer;
    word-break: break-word;
    word-wrap: break-word
}

.hoveredItem {
    border: 2px solid #77CBF1;
}

.selectedItem {
    background-color: #5A5654;
    border-color: #77CBF1;
}

.unselectedItem {
    background-color: #3D3C3B;
}