<div class="basicType" ng-class="{selectedItem: active, unselectedItem: !active, hoveredItem: hovered}" ng-click="makeActive(); $event.stopPropagation();">
    <span ng-if="isRoot">{{input.typeName}}</span>
    <span ng-if="!isRoot && !inArray">{{input.propertyName}}</span>
    <span ng-if="!inArray">: {{typeLabel}}</span>
    <span ng-if="inArray">{{typeLabel}}</span>
    <div ng-if="!isRoot" style="float: right; margin-right: 5px;">
        <div ng-if="!isRoot" class="deleteIcon" ng-click="delete()"></div>
    </div>
</div>