<div style="height: 100%">

    <div ng-if="loading">
        <div style="font-size: 20px; margin-top: 100px" class="text-center">
            Loading configuration of plugins...
        </div>

    </div>
    <div style="height: 100%" ng-if="!loading">
        <pipeline-editor class="pipelineEditor"
                         plugins="plugins"
                         generator-name="generatorName"
                         pipeline="pipeline"
                         schema="data.schema"></pipeline-editor>
    </div>
</div>