.pipelineEditor h2 {
    margin: 10px;
}

.pipelinePropertyBoxDirective {
    width: 300px;
    word-break: break-all;
    float: left;
    border-left: 1px solid #5A5654;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}