<div style="height: 100%">
    <div style="width: 350px; height: 100%; border-right: 1px solid #5A5654;">
        <pipeline-editor-type-box input="plugins"></pipeline-editor-type-box>
    </div>
    <div style="left: 350px; top: 0px; position: absolute; width: calc(100% - 350px); height: 100%;">
        <div style="width: calc(100% - 300px); height: 100%; float: left; padding: 60px; overflow: auto; " ng-click="deactivate()">
            <pipeline-wrapper pipeline="pipeline" active-item="activeItem"></pipeline-wrapper>
        </div>
        <div class="pipelinePropertyBoxDirective">
            <pipeline-property-box active-form="activeForm" settings="activeSettings" schema-editor="schema"></pipeline-property-box>
        </div>
    </div>
</div>