<div class="grammarCycleType" id="{{input.id}}">
    <!-- Directive for rendering concrete component type -->
    <grammar-common-type
            input="input.innerElement"
            get-size="component.getSize(size)"
            active-obj="activeObj"
            ng-style="{'position': 'absolute', 'left': '0px' }">
    </grammar-common-type>

    <!-- TODO: Cycle line -->
    <grammar-line
            type="cycle"
            line-width="width"
            line-height="height"
            ng-style="{'position': 'absolute', 'top': '0px', 'left': - transparentPartSize + 'px'}">
    </grammar-line>

    <div class="cycleLabel" ng-class="{editMode: activeObj.activeScope === this}"
          ng-style="{position: 'absolute', top: height - (EditorConstants.TransparentLineSize / 2) + 'px'}">
        <div ng-if="input.cycleType === 'probability'">
            {{input.cycleProbability}}%
        </div>
        <div ng-if="input.cycleType === 'repetitions'">
            {{input.cycleMin}}x - {{input.cycleMax}}x
        </div>

    </div>

    <div ng-if="activeObj.activeScope === this" class="grammarActiveRect" ng-style="activeStyle"></div>
</div>