.picker__holder {
    right: 0px;
    width: 350px;
    height: 300px;
    position: fixed;
}

.form-group > div {
    position: relative;
}

.propertyEditor .btn-success {
    background-color: #428BCA;
    border-color: black;
}

.propertyEditor .btn-success:hover {
    color: black;
}

.propertyEditor {
    width: 260px;
}

.propertyEditor button.close {
    color:  #FFFFFF;
    width: 22px;
    height: 22px;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

.propertyEditor button.close:hover {
    background-color: #AA1A1A;
}

.propertyEditor .list-group {
    margin-bottom: -5px;
}

.propertyEditor .form-control {
    width: 90%;
    display: inline-block;
}

.propertyEditor .clearfix {
    padding-right: 28px !important;
    padding-top: 10px !important;
}

.propertyEditor .list-group-item{
    padding-right: 10px;
}