.jsonEditorCustomType {
    border: 2px solid darkgray;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.jsonEditorCustomTypeOver {
    border: 2px solid #77CBF1;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.jsonEditorTypeWrapper {
    padding: 5px 20px 5px 20px;
}

.jsonEditorTypeWrapper:first-child {
    padding-top: 10px;
}

.jsonEditorTypeWrapper:last-child {
    padding-bottom: 10px;
}
