<div>
    <div ng-if="inArray">{{typeLabel}}</div>
    <div ng-if="!inArray">{{input.label}}{{input.propertyName}} : {{typeLabel}}</div>
    <div style="min-width: 200px; min-height:70px;" data-drop="true" ng-model='droppedItem' class="selectable"
         jqyoui-droppable="{onOver: 'enter', onOut: 'leave', onDrop: 'drop'}" data-jqyoui-options="{greedy: true, tolerance: 'pointer'}"
         ng-class="{jsonEditorCustomType: !over, jsonEditorCustomTypeOver: over, selectedItem: active, unselectedItem: !active,  hoveredItem: hovered}"
         ng-click="makeActive(); $event.stopPropagation();">

        <div ng-if="!isRoot" class="deleteIcon" ng-click="delete()"></div>

        <!-- For objects -->
        <div ng-if="!isArray" ui-sortable ng-model="input.properties">
            <div ng-repeat="item in input.properties" class="jsonEditorTypeWrapper">
                <json-editor-type-wrapper in-array="isArray" active-property="activeProperty" on-delete="deleteChild($index)" input="item"></json-editor-type-wrapper>
            </div>
        </div>

        <!-- For arrays -->
        <div ng-if="isArray" ui-sortable ng-model="input.properties.innerType">
            <div ng-repeat="item in input.properties.innerType" class="jsonEditorTypeWrapper">
                <json-editor-type-wrapper in-array="isArray" active-property="activeProperty" on-delete="deleteChild($index)" input="item"></json-editor-type-wrapper>
            </div>
        </div>



    </div>
</div>