<div>
    <basic-type ng-if="(input.type !== 'object') &&  (input.type !== 'array') && (input.type !== 'probSet')" in-array="inArray" is-root="isRoot" input="input" active-property="activeProperty" on-delete="onDelete()"></basic-type>
</div>
