<div class="grammarCommonType">
    <grammar-terminal-type
            ng-if="grammarEditorTypeSvc.isTerminalType(input.type)"
            input="input"
            active-obj="activeObj"
            get-size="getSize({size:size})">
    </grammar-terminal-type>
    <grammar-nonterminal-type
            ng-if="grammarEditorTypeSvc.isNonterminalType(input.type)"
            input="input"
            active-obj="activeObj"
            get-size="getSize({size:size})">
    </grammar-nonterminal-type>
    <grammar-empty-type
            ng-if="input.type === EditorTypes.EmptyType"
            input="input"
            active-obj="activeObj"
            get-size="getSize({size:size})">
    </grammar-empty-type>
    <div class="dynamicallyCompiled"></div>
</div>