<div class="grammarComplexType" id="{{input.id}}">
    <div ng-repeat="element in input.children">
        <!-- Directive for rendering concrete component type -->
        <grammar-common-type
                input="element"
                get-size="components[$index].getSize(size)"
                active-obj="activeObj"
                ng-style="{'position': 'absolute', 'left': getLeftPosition($index) }">
        </grammar-common-type>

        <!-- Line to successor -->
        <grammar-line
                ng-if="$index < (input.children.length - 1)"
                type="leftRight"
                line-width="EditorConstants.ComponentMarginX"
                ng-style="{'position': 'absolute', 'left': getLeftPositionOfLine($index)}">
        </grammar-line>
    </div>

    <div ng-if="activeObj.activeScope === this" class="grammarActiveRect" ng-style="activeStyle"></div>
</div>