.footerWrapper {
    position: fixed;
    width: 600px;
    transition: bottom 150ms ease-out;
    bottom: -45px;
    left: calc(50% - 300px);
}

.footerWrapper:hover {
    bottom: 0;
}

.footerHeader {
    position: relative;
    width: 100px;
    height: 40px;
    left: calc(50% - 50px);
    top: 1px;
    z-index: 1;
    background-color: #5A5654;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px 0 1px;
    border-color: #77CBF1;
    border-style: solid;
}

.footer {
    -webkit-transition: bottom 150ms ease-out;
    height: 40px;
    width: 600px;
    position: relative;
    left: calc(50% - 300px);
    background-color: #5A5654;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px 1px 0 1px;
    border-color: #77CBF1;
    border-style: solid;
}

.footer ng-transclude {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 10px;
}

.footer ng-transclude>* {
    margin-left: 10px;
    margin-right: 10px;
}

.footerAngle {
    font-size: 30px;
    margin-left: 40px;
}