<div class="footerWrapper">
    <div class="footerHeader">
        <i class="fa fa-angle-double-up footerAngle" aria-hidden="true"></i>
    </div>
    <div class="footer">
        <ng-transclude></ng-transclude>
    </div>
</div>