<div class="pipelineEditorTypeBox">
    <h2>Pipeline Types</h2>
    <h3>Transformers</h3>
    <ul>
        <li class="pipelineTypeWrapper" ng-repeat="item in transformers">
            <div class="centeredDiv">
                <div class="itemPipeline itemTransformer unselectableItemType"
                     ng-mouseover = "tooltip = true" ng-mouseleave = "tooltip = false"
                     data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone', scroll: false}"
                     ng-model="transformers" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                    {{item.name}}
                </div>
            </div>

            <!--
            <div class="tooltipItem" ng-show="tooltip">{{item.description}}</div>
            -->
        </li>
    </ul>
    <h3>Storers</h3>
    <ul>
        <li class="pipelineTypeWrapper" ng-repeat="item in storers">
            <div class="centeredDiv">
                <div class="itemPipeline itemStorer unselectableItemType"
                     ng-mouseover = "tooltip = true" ng-mouseleave = "tooltip = false"
                     data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone', scroll: false}"
                     ng-model="storers" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                    {{item.name}}
                </div>
            </div>

            <!--
            <div class="tooltipItem" ng-show="tooltip">{{item.description}}</div>
            -->
        </li>
    </ul>
</div>