.pipelineEditorTypeBox {
    padding-top: 10px;
    overflow: auto;
    max-height: 100%;
    text-align: center;
}

.pipelineEditorTypeBox ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 280px;
    display: inline-block;
    border-radius: 4px;
    background-color: #5A5654;
}

.pipelineTypeWrapper {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;

}

.itemPipeline {
    padding: 5px 0 5px 0;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    font-size: 14px;
}

.itemStorer {
    background-color: #479841;
}

.storersTitle {
    color : #479841;
}

.itemTransformer {
    background-color: #416C98;
}

.transformersTitle {
    color : #416C98;
}

.unselectedItemPipeline {
    background-color: #f2f2f2;
}

.selectedItemPipeline {
    background-color: #cfcfcf;
}

.tooltipItem {
    border: 1px solid black;
    width: 230px;
    margin-left: 58px;
    margin-top: -35px;
    background-color: rgba(64, 64, 64, 0.12);
    border-radius: 2px;
    height: 20px;
    color: white;
}
