.errorModal {
    box-shadow: 0px 1px 15px 4px #77CBF1;
    background-color: #5A5654;
    border-radius: 6px;
    width: 350px;
    padding-bottom: 10px;
    color: white;
}

.okBtn{
    background-color: #428BCA;
    border-color: black;
}