<div class="errorModal">
    <h3 style="padding-top: 10px; margin-top: 0px;" class="text-center">Error</h3>
    <div style="margin: 20px">{{message}}</div>
    <div style="margin-top: 30px; margin-left: 153px;">
        <button class="btn okBtn" ng-click="ok()">Ok</button>
    </div>

</div>