<div class="JsonEditorProbSet">
    <div>{{typeLabel}}</div>
    <div style="min-width: 200px; min-height:100px;" class="jsonEditorCustomType unselectedItem" ng-click="$event.stopPropagation();">
        <div ng-if="!isRoot" class="deleteIcon" ng-click="delete()"></div>
        <div>
            <div ng-repeat="val in input.properties" class="jsonEditorTypeWrapper">
                <json-editor-prob-set-item input="val" active-property="activeProperty" in-array="inArray" on-delete="deleteChild($index)"></json-editor-prob-set-item>
            </div>
            <slider ng-mousedown="$event.stopPropagation();" step="1" total="100">
                <slider-range model="val.value" ng-repeat="val in input.properties">
                    <div class="slider-handle"></div>
                </slider-range>
            </slider>
            <div ng-click="addProb()" class="addProb">&#43;</div>
        </div>
    </div>
</div>