.JsonEditorProbSet {
    position: relative;
    cursor: move;
}

.JsonEditorProbSet > .jsonEditorCustomType {
    position: relative;
    cursor: move;
}

.JsonEditorProbSet .slider {
    background-color: darkgray;
}

.JsonEditorProbSet .at-multirange-slider {
    padding: 20px 10px 20px 10px;
    float: left;
    width: calc(100% - 30px);
    cursor: pointer;
}

.JsonEditorProbSet .addProb {
    float: left;
    width: 20px;
    padding-top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.JsonEditorProbSet .slider-handle {
    width: 15px;
    height: 15px;
    border: 1px solid darkgrey;
    opacity: 0.6;
}

.JsonEditorProbSet .slider-handle:hover {
    opacity: 1;
}

