<div style="height: 100%">
    <div style="width: 350px; height: 100%; border-right: 1px solid #5A5654;">
        <type-box custom-types="input" active-type="activeType" types="CsvEditorTypes" show-custom-types="showCustomTypes" root-type="EditorRootType"></type-box>
    </div>
    <div style="left: 350px; top: 0px;  position: absolute; width: calc(100% - 350px); height: 100%;">
        <csv-editor-content input="input" active-type="activeType"></csv-editor-content>
    </div>

</div>