<div>
    <h3>Pipeline</h3>
    <div style="float: left; display: inline-block">
        <!-- Generator Box-->
        <div>Generator</div>
        <div data-drop="true"
             jqyoui-droppable="{onOver: 'enterGeneratorBox', onOut: 'leaveGeneratorBox', onDrop: 'drop'}"
             class="pipelineWrapperBoxGenerator"
             ng-class="{pipelineWrapperBoxWrong: gBoxWrong}">
            <div ng-repeat="item in pipeline[0]" class="pipelineWrapper">
                <pipeline-item input="item" active-item="activeItem"></pipeline-item>
                <i class="fa fa-arrow-right rightArrow" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div style="float: left; display: inline-block; max-width: calc(100% - 400px)">
        <!-- Transformers Box-->
        <div>Transformers</div>
        <div data-drop="true" ng-model='droppedItemT'
             jqyoui-droppable="{onOver: 'enterTransformerBox', onOut: 'leaveTransformerBox', onDrop: 'drop'}"
             class="pipelineWrapperBoxTransformer"
             ng-class="{pipelineWrapperBoxOver: overTransformer, pipelineWrapperBoxWrong: tBoxWrong}">
            <div>
                <div ng-repeat="item in pipeline[1]" class="pipelineWrapper">
                    <div>
                        <pipeline-item input="item" active-item="activeItem" on-delete="deleteItemT($index)"></pipeline-item>
                        <i class="fa fa-arrow-right rightArrow" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="float: left; display: inline-block">
        <!-- Storer Box-->
        <div>Storer</div>
        <div style="min-height:80px;" data-drop="true" ng-model='droppedItemS'
             jqyoui-droppable="{onOver: 'enterStorerBox', onOut: 'leaveStorerBox', onDrop: 'drop'}"
             class="pipelineWrapperBoxStorer"
             ng-class="{pipelineWrapperBoxOver: overStorer, pipelineWrapperBoxWrong: sBoxWrong}">
            <div ng-repeat="item in pipeline[2]" class="pipelineWrapper">
                <pipeline-item input="item" active-item="activeItem" on-delete="deleteItemS($index)"></pipeline-item>
            </div>
        </div>
    </div>
</div>