.pipelineWrapperBox {
    border: 1px solid black;
    display: inline-block;
}

.pipelineWrapperBoxGenerator {
    border: 3px solid black;
    min-height:80px;
    display: inline-block;
    position: relative;
}

.pipelineWrapperBoxTransformer {
    border: 3px solid black;
    min-height:80px;
    min-width: 200px;
    padding-right: 30px;
    background-color: #3E83A4;
    display: inline-block;
}

.pipelineWrapperBoxStorer {
    border: 3px solid black;
    min-height:80px;
    min-width: 167px;
    background-color: #6FA43E;
    display: inline-block;
}

.pipelineWrapperBoxOver {
    border: 3px solid lawngreen;
}

.pipelineWrapperBoxWrong {
    border: 3px solid #ff020a;
}

.pipelineWrapper {
    padding: 5px 20px 5px 8px;
    display: inline-block;
}

.rightArrow {
    font-size: 25px;
    float: right;
    padding: 20px 0 0 10px;
}