<div class="JsonEditorProbSetItem">
    <div style="position: relative; min-width: 200px; min-height:70px;" data-drop="true" ng-model='droppedItem'
         jqyoui-droppable="{onOver: 'enter', onOut: 'leave', onDrop: 'drop'}" data-jqyoui-options="{greedy: true}"
         ng-class="{jsonEditorCustomType: !over, jsonEditorCustomTypeOver: over}" class="unselectedItem"
         ng-click="$event.stopPropagation();">
        <div ng-if="!isRoot" class="deleteIcon" ng-click="delete()"></div>
        <div class="probability">{{input.value}}%</div>
        <div style="padding-right: 40px;" ui-sortable ng-model="input.properties">
            <div ng-repeat="item in input.properties" class="jsonEditorTypeWrapper">
                <json-editor-type-wrapper in-array="inArray" active-property="activeProperty" on-delete="deleteChild($index)" input="item"></json-editor-type-wrapper>
            </div>
        </div>
    </div>
</div>