.JsonEditorProbSetItem  {
    cursor: move;
    position: relative;
}

.JsonEditorProbSetItem > div  {
    display: block;
}

.JsonEditorProbSetItem > .jsonEditorCustomType {
    position: relative;
    cursor: move;
}

.JsonEditorProbSetItem .probability {
    font-size: 19px;
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}