<div>
    <div ng-if="type === LineTypeEnum.LeftRight">
        <div ng-style="{'position': 'absolute', 'height': EditorConstants.TransparentLineSize + 'px', 'width': lineWidth + 'px'}">
            <grammar-basic-line type="{{BasicLineTypeEnum.Horizontal}}"></grammar-basic-line>
        </div>
    </div>

    <div ng-if="type === LineTypeEnum.LeftDownRight">
        <div  ng-style="{'position': 'absolute', 'width': EditorConstants.TransparentLineSize + 'px', 'height': lineHeight + EditorConstants.TransparentLineSize + 'px'}">
            <div ng-style="topBendStyle"></div>
            <grammar-basic-line type="{{BasicLineTypeEnum.Vertical}}" has-bends></grammar-basic-line>
            <div ng-style="bottomBendStyle"></div>
        </div>

        <div ng-style="{'position': 'absolute','left': EditorConstants.TransparentLineSize, 'height': EditorConstants.TransparentLineSize + 'px', 'width': lineWidth - EditorConstants.TransparentLineSize + 'px', 'top': lineHeight}">
            <grammar-basic-line type="{{BasicLineTypeEnum.Horizontal}}"></grammar-basic-line>
        </div>
    </div>

    <div ng-if="type === LineTypeEnum.LeftTopRight">
        <div ng-style="{'position': 'absolute', 'height': EditorConstants.TransparentLineSize + 'px', 'width': lineWidth - EditorConstants.TransparentLineSize + 'px', 'top': lineHeight}">
            <grammar-basic-line type="{{BasicLineTypeEnum.Horizontal}}"></grammar-basic-line>
        </div>

        <div  ng-style="{'position': 'absolute', 'left': lineWidth - EditorConstants.TransparentLineSize + 'px', 'width': EditorConstants.TransparentLineSize + 'px', 'height': lineHeight + EditorConstants.TransparentLineSize + 'px'}">
            <div ng-style="topBendStyle"></div>
            <grammar-basic-line type="{{BasicLineTypeEnum.Vertical}}" has-bends></grammar-basic-line>
            <div ng-style="bottomBendStyle"></div>
        </div>
    </div>

    <div ng-if="type === LineTypeEnum.Cycle">
        <!-- Left part of cycle -->
        <div  ng-style="{'position': 'absolute', 'left': -(transparentPartSize / 2) - EditorConstants.VisibleLineSize + 'px', 'width': EditorConstants.TransparentLineSize + 'px', 'height': lineHeight + EditorConstants.TransparentLineSize + 'px'}">
            <div ng-style="leftTopBendStyle"></div>
            <grammar-basic-line type="{{BasicLineTypeEnum.Vertical}}" has-bends></grammar-basic-line>
            <div ng-style="leftBottomBendStyle"></div>
        </div>

        <!-- Right part of cycle -->
        <div  ng-style="{'position': 'absolute', 'left': lineWidth + (transparentPartSize / 2) + 'px', 'width': EditorConstants.TransparentLineSize + 'px', 'height': lineHeight + EditorConstants.TransparentLineSize + 'px'}">
            <div ng-style="rightTopBendStyle"></div>
            <grammar-basic-line type="{{BasicLineTypeEnum.Vertical}}" has-bends></grammar-basic-line>
            <div ng-style="rightBottomBendStyle"></div>
        </div>

        <!-- Horizontal part of cycle -->
        <div ng-style="{'position': 'absolute', 'left': (transparentPartSize / 2) + 'px',  'height': EditorConstants.TransparentLineSize + 'px', 'width': lineWidth  + 'px', 'top': lineHeight  + 'px'}">
            <grammar-basic-line type="{{BasicLineTypeEnum.Horizontal}}"></grammar-basic-line>
        </div>
    </div>
</div>