<div>
    <div>
        Select base type: <br>
        <select class="form-control" ng-model="sequencePopover.selected">
            <option value="int">Integer</option>
            <option value="float">Float</option>
            <option value="string">String</option>
            <option value="datetime">Date/time</option>
        </select>
    </div>
    <div>
        Fill sequence name: <br>
        <input ng-model="sequencePopover.typeName" class="form-control">
    </div>
    <div style="margin-top: 10px;">
        <button class="btn add" ng-disabled="!sequencePopover.typeName || !sequencePopover.selected" ng-click="addSequence()">Add</button>
        <button class="btn cancel" ng-click="cancelSequencePopover()">Cancel</button>
    </div>
</div>