<div>
    <div ng-if="typesUsedInCustoms">
        Select base type: <br>
        <select class="form-control" ng-model="addPopover.selected">
                <option ng-repeat="type in types" value="{{type.type}}">{{type.label}}</option>
        </select>
    </div>
    <div>
        Fill type name: <br>
        <input ng-model="addPopover.typeName" class="form-control">
    </div>
    <div style="margin-top: 10px;">
        <button class="btn add" ng-disabled="!addPopover.typeName || (!addPopover.selected && typesUsedInCustoms)" ng-click="addType()">Add</button>
        <button class="btn cancel" ng-click="cancelAddPopover()">Cancel</button>
    </div>
</div>