<div class="typeBox">
    <h2 ng-if="showCustomTypes">User defined types</h2>
    <ul ng-if="showCustomTypes">
        <li class="itemTypeWrapper" ng-repeat="item in customTypes | filter: filterCustomTypes">
            <div class="centeredDiv">
                <div class="itemType selectableItemType" ng-class="{selectedItemType: activeType.typeName === item.typeName, unselectedItemType: activeType.typeName !== item.typeName}"
                     data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: getHelper, scroll: false}"
                     ng-model="dragArray" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}"
                     ng-click="makeActive(item)">
                    <div class="typeText withDelete" ng-if="item.label">{{item.label}}</div>
                    <div class="typeText withDelete" ng-if="!item.label">{{item.typeName}}</div>
                    <div style="float: right; margin-right: 5px;" ng-show="item.typeName !== rootType">
                        <button ng-click="deleteType(item)" style="background-color: transparent; border: none">&#10006;</button>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="addButton" uib-popover-template="addPopover.templateUrl" popover-is-open="addPopover.isOpen" ng-click="resetAddPopover()" popover-placement="right" popover-trigger="outsideClick">&#43;</button>
        </li>
    </ul>
    <h2 ng-if="!showCustomTypes">Root Type</h2>
    <ul ng-if="!showCustomTypes">
        <li class="itemTypeWrapper" ng-repeat="item in customTypes | filter: filterRootType">
            <div class="centeredDiv">
                <div class="itemType selectableItemType" ng-class="{selectedItemType: activeType.typeName === item.typeName, unselectedItemType: activeType.typeName !== item.typeName}"
                     ng-click="makeActive(item)">
                    <div class="typeText" ng-if="item.label">{{item.label}}</div>
                    <div class="typeText" ng-if="!item.label">{{item.typeName}}</div>
                </div>
            </div>
        </li>
    </ul>
    <h2>Implicit types</h2>
    <ul>
        <li class="itemTypeWrapper" ng-repeat="item in types">
            <div class="centeredDiv">
                <div class="itemType unselectableItemType unselectedItemType"
                     data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: getHelper, scroll: false}"
                     ng-model="types" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                    <div class="typeText" ng-if="item.label">{{item.label}}</div>
                    <div class="typeText" ng-if="!item.label">{{item.type}}</div>
                </div>
            </div>
        </li>
    </ul>
    <h2>Sequences</h2>
    <ul>
        <li class="itemTypeWrapper" ng-repeat="item in customTypes | filter: filterSequences">
            <div class="centeredDiv">
                <div class="itemType selectableItemType" ng-class="{selectedItemType: activeType.typeName === item.typeName, unselectedItemType: activeType.typeName !== item.typeName}"
                     data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: getHelper, scroll: false}"
                     ng-model="dragSequenceArray" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}"
                     ng-click="$parent.activeType = item">
                    <div class="typeText withDelete" ng-if="item.label">{{item.label}}</div>
                    <div class="typeText withDelete" ng-if="!item.label">{{item.typeName}}</div>
                    <div style="float: right; margin-right: 5px;">
                        <button ng-click="deleteType(item)" style="background-color: transparent; border: none">&#10006;</button>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <button class="addButton" uib-popover-template="sequencePopover.templateUrl" popover-is-open="sequencePopover.isOpen" ng-click="resetSequencePopover()" popover-placement="right" popover-trigger="outsideClick">&#43;</button>
        </li>
    </ul>
</div>