.typeBox ul {
    list-style-type: none;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 280px;
    display: inline-block;
    border-radius: 4px;
    background-color: #5A5654;
}

.itemTypeWrapper {

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 75%;

}

.centeredDiv {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.itemType {
    padding: 5px 0 5px 0;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    font-size: 14px;

}

.selectableItemType:hover {
    border-color: #77CBF1;
}

.selectableItemType {
    cursor: pointer;
}

.unselectableItemType {
    cursor: move;
}

.draggedItem {
    opacity: 0.6;
}

.unselectedItemType {

}

.selectedItemType {
    border-color: #77CBF1;
    border-width: 1px;
    color: #77CBF1;
}

.typeBox {
    padding-top: 10px;
    overflow: auto;
    max-height: 100%;
    text-align: center;
}

.addButton {
    border: none;
    background-color: #5A5654;
    font-size: 31px;
    font-weight: bold;
    margin-top: 5px;
    outline: none;
}

.typeBox .popover {
    box-shadow: 0px 1px 15px 4px #77CBF1;
    background-color: #5A5654;
}

.typeBox .popover button.add {
    background-color: #428BCA;
    border-color: black;
}

.typeBox .popover button.add:hover {
    color: black;
}

.typeBox .popover button.cancel {
    background-color: #5A5654;
    border-color: white;
}

.typeBox .popover button.cancel:hover {
    border-color: #77CBF1;
    color: #77CBF1;
}

.typeBox .popover .arrow:after {
    border-right-color: #575757;
}

.typeBox .typeText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.typeBox .typeText.withDelete {
    width: calc(100% - 30px);
}