<div class="grammarEditor" style="height: 100%; width: 100%; position: absolute;">
    <div style="width:350px; height: 100%; border-right: 1px solid #5A5654;">
        <type-box custom-types="input" active-type="activeType" types="GrammarEditorTypes" show-custom-types="showCustomTypes" root-type="EditorRootType" new-type-content="newTypeContent"></type-box>
    </div>
    <div style="left: 350px; top: 0px; position: absolute; width: calc(100% - 350px); height: 100%">
        <div style="float: left; height: calc(100% - 250px); width: calc(100% - 300px); position: relative; padding-left: 20px; padding-top: 10px; overflow: auto; box-sizing: border-box" ng-click="deactivate()">
            <div style="position: relative;" ng-if="activeType">
                <grammar-common-type ng-if="activeType.type !== sequenceType" active-obj="activeObj" get-size="getSize(size)" input="activeType.definition"></grammar-common-type>
                <basic-type ng-if="activeType.type === sequenceType" is-root="isRoot" active-property="data.activeProperty" input="activeType" ></basic-type>
            </div>
        </div>
        <div style="width: 300px; overflow: auto; word-break: break-all; float: left; border-left: 1px solid #5A5654; padding: 10px; height: calc(100% - 250px); box-sizing: border-box">
            <property-editor ng-show="activeSchema" model="propertyWrapper.property" schema="activeSchema" form="activeForm"></property-editor>
        </div>
        <div style="height: 250px; width: 100%; float: left; border-top: 1px solid #5A5654;">
            <grammar-scope-selector active-obj="activeObj"></grammar-scope-selector>
        </div>
    </div>
</div>