.grammarSelected {
    border-color: #77CBF1 !important;
    background-color: #5A5654;
}

.grammarActiveRect {
    position: absolute;
    border: 3px dashed #428BCA;
    z-index: -1;
    box-sizing: border-box;
}

