<div class="editor" style="height: 100%">
    <grammar-editor input="editorInput"></grammar-editor>
    <footer>
        <div class="download" ng-click="download()"><i class="fa fa-download"></i></div>
        <input type="file" class="uploadInput" id="uploadInput" file-reader="data.uploadFile">
        <label for="uploadInput" class="upload"><i class="fa fa-upload"></i></label>
    </footer>
</div>